<?xml version="1.0" encoding="UTF-8"?>
<plugin

   id="KettleUtil"
   iconfile="icon.png"
   description="kettle工具"
   tooltip="用java实现复杂业务逻辑，然后在Kettle的脚本中引用。"
   category="i18n:org.pentaho.di.trans.step:BaseStep.Category.Experimental"
   classname="net.oschina.kettleutil.KettleUtilMeta">
		
		<libraries>
    		<library name="KettleUtil.jar"/>
		</libraries>
</plugin>
