<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>topmenu</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="../style/index.css" rel="stylesheet">
</head>
<body>
    <div class="hy-top-container">
    	<div class="hy-top-container-item">
    		<div class="hy-icon-float hy-icon-emblem"></div>
    		<ul class="hy-icon-container-title">
    			<li><span>XXXX系统</span></li>
    			<li><span>xxxx</span></li>
    		</ul>
            <div class="hy-container-is">
                <i class="hy-icon hy-icon-float hy-icon-home"></i>
                <span>首页</span>
            </div>
            <div class="hy-container-is">
                <i class="hy-icon hy-icon-float hy-icon-config"></i>
                <span>系统配置</span>
            </div>
            <div class="hy-container-is">
                <i class="hy-icon hy-icon-float hy-icon-watch"></i>
                <span>网络监控</span>
            </div>
            <div class="hy-container-is">
                <i class="hy-icon hy-icon-float hy-icon-book"></i>
                <span>书籍管理</span>
            </div>
    	</div>
    	<div class="hy-top-container-item">
    		<div class="hy-item-title"><span>欢迎你，超级管理员</span></div>
    		<div class="hy-item-title">
    			<i class="hy-icon hy-icon-float hy-icon-man"></i>
    			<span>张同志</span>
    			<i class="hy-icon hy-icon-arrow-down"></i>
    		</div>
    	</div>
    </div>
</body>
</html>