html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	height: 100%;
}
.container{
	width: 100%;
	height: 100%;
	overflow: auto;
}
.relation-charts{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 20px;
	position: relative;
	overflow: auto;
}
.relation-tooltip{
	display: none;
	width: 80px;
	background: rgba(0,0,0,0.6);
	font-size: 14px;
	color: #e8e3e3;
	text-align: center;
	position: absolute;
	border: 1px solid #aaa;
	border-radius: 10px;
	overflow: hidden;
}
.relation-tooltip span{
	display: block;
	line-height: 26px;
	cursor: pointer;
}
.relation-tooltip span:hover{
	color: #fff;
}
.relation-title{
	font-size: 0;
}
.relation-title p{
	width: 40%;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	text-align: center;
	color: #ef4d62;
}
.relation-title p:first-child{
	width: 60%;
}
.relation-title p i{
	display: inline-block;
	width: 18px;
	height: 16px;
}
.relation-title p:first-child i {
	background: url(../img/left.png) no-repeat;
}
.relation-title p:last-child i {
	background: url(../img/right.png) no-repeat;
}