<!DOCTYPE html>
<html>
<head>
<title>${title!}</title>
<%include("/eova/meta.html"){}%>
<%include("/eova/include.html", {'isUeditor' : false, 'isJsoneditor' : false, 'isPortal' : false, 'isNice' : false, 'isOther' : false }){}%>
</head>
${layoutContent}
<script>
$(function(){
	$('div[class="eova-text"]').eovatext();
});
//设置表单校验规则
var setValidateForm = function(formName,fields){
    $("#"+formName).validator({
           debug: false,
           stopOnError: true,
           focusInvalid: false,
           showOk: false,
           timely: true,
           msgMaker: false,
           fields: fields
     });

    $("#"+formName).on("validation", function(e, current){
     // 当前字段未验证通过，Tip提示
     if(!current.isValid){
         var tip = $.tipwarn($(current.element).parent(), current.msg);
         //alert(current.msg);
         // 开始输入销毁提示
         $(current.element).keydown(function(event){
             tip.tooltip('destroy');
             $(this).unbind("keydown");
         });
     }
 });
}
</script>
</html>