HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.mvn/wrapper/
/src/main/resources/application-oracle.yaml
/src/main/resources/application-mysql.yaml
/src/main/resources/application-private.yaml
/doc/docker/mysql/data/
/doc/docker/sjsj/dist/
/doc/docker/nginx/html/dist/
/doc/docker/mysql/db/
/doc/docker/nginx/logs/
/doc/docker/sjsj/data/
