<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error">
	<!-- 先定义所有的appender -->
	<appenders>
		<!-- 这个输出控制台的配置 -->
		<Console name="Console" target="SYSTEM_OUT">
			<!-- 控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
			<ThresholdFilter level="deug" onMatch="ACCEPT"
				onMismatch="DENY" />
			<!-- 这个都知道是输出日志的格式 -->
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</Console>
		<!-- 这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
		<RollingFile name="debug" fileName="/tmp/logs/myutils/debug.log"
			filePattern="/benma666/logs/${projectCode}/$${date:yyyy-MM}/debug-%d{MM-dd-yyyy}-%i.log.gz">
			<ThresholdFilter level="debug" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout
				pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n" />
			<SizeBasedTriggeringPolicy size="2MB" />
		</RollingFile>
		<!-- 这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
		<RollingFile name="info" fileName="/tmp/logs/myutils/info.log"
			filePattern="/benma666/logs/${projectCode}/$${date:yyyy-MM}/info-%d{MM-dd-yyyy}-%i.log.gz">
			<ThresholdFilter level="info" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout
				pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n" />
			<SizeBasedTriggeringPolicy size="2MB" />
		</RollingFile>
		<!-- 这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
		<RollingFile name="error" fileName="/tmp/logs/myutils/error.log"
			filePattern="/benma666/logs/${projectCode}/$${date:yyyy-MM}/error-%d{MM-dd-yyyy}-%i.log.gz">
			<ThresholdFilter level="error" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout
				pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n" />
			<SizeBasedTriggeringPolicy size="2MB" />
		</RollingFile>
	</appenders>

	<!-- 然后定义logger，只有定义了logger并引入的appender，appender才会生效 -->
	<loggers>
		<!-- 建立一个默认的root的logger -->
		<root level="error">
			<appender-ref ref="Console" />
			<appender-ref ref="debug" />
			<appender-ref ref="info" />
			<appender-ref ref="error" />
		</root>
	</loggers>
</configuration>  