<?xml version="1.0" encoding="UTF-8"?>
<!-- monitorinterval 为log4j 2.x新特点自动重载配置。指定自动重新配置的监测间隔时间，单位是s,最小是5s。 -->
<configuration status="info" monitorinterval="60" packages="cn.benma666.log4j2">
	<properties>
		<property name="projectCode">myservice</property>
		<property name="LOG_HOME">/benma666/logs/${projectCode}</property>
		<property name="PATTERN">%d{MM-dd HH:mm:ss} %-5level %t %class{2}.%M:%L - %msg%xEx%n</property>
		<property name="FILE_SIZE">20MB</property>
	</properties>
	<!-- 先定义所有的appender -->
	<appenders>
		<!-- 这个输出控制台的配置 -->
		<Console name="Console" target="SYSTEM_OUT">
			<!-- 控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
			<ThresholdFilter level="debug" onMatch="ACCEPT"
				onMismatch="DENY" />
			<!-- 这个都知道是输出日志的格式 -->
			<PatternLayout pattern="${PATTERN}" />
		</Console>
		<!-- 这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
		<RollingRandomAccessFile name="debug"
			fileName="${LOG_HOME}/debug.log" filePattern="${LOG_HOME}/debug-%d{yyyyMMddHH}-%i.gz">
			<ThresholdFilter level="debug" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="${PATTERN}" />
			<Policies>
				<!-- 这个配置需要和filePattern结合使用，注意filePattern中配置的文件重命名规则是 -->
				<!-- ${FILE_NAME}-%d{yyyy-MM-dd}-%i，最小的时间粒度是mm，即分钟， -->
				<!-- TimeBasedTriggeringPolicy指定的size是1，结合起来就是每1分钟生成一个新文件。 -->
				<!-- 如果改成%d{yyyy-MM-dd HH}，最小粒度为小时，则每一个小时生成一个文件。 -->
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<!-- 指定当文件体积大于size指定的值时，触发Rolling -->
				<SizeBasedTriggeringPolicy size="${FILE_SIZE}" />
			</Policies>
			<!-- 指定最多保存的文件个数 -->
			<DefaultRolloverStrategy max="20">
				<!-- 对于指定的路径下的指定后缀的文件，只保留3天的日志文件，那么最多会有3天*24小时*20个日志文件 -->
				<!-- 注意应用需要根据业务需求和磁盘大小评估需要保留的日志个数，对于500M的日志文件来说，要根据应用日志的情况，观察单个日志压缩后文件大小，并计算总大小需要的空间 -->
				<Delete basePath="${LOG_HOME}" maxDepth="1">
					<IfFileName glob="*.gz" />
					<IfLastModified age="30d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>
		<!-- 这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
		<RollingRandomAccessFile name="info"
			fileName="${LOG_HOME}/info.log" filePattern="${LOG_HOME}/info-%d{yyyyMMdd}-%i.gz">
			<ThresholdFilter level="info" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="${PATTERN}" />
			<Policies>
				<!-- 这个配置需要和filePattern结合使用，注意filePattern中配置的文件重命名规则是 -->
				<!-- ${FILE_NAME}-%d{yyyy-MM-dd}-%i，最小的时间粒度是mm，即分钟， -->
				<!-- TimeBasedTriggeringPolicy指定的size是1，结合起来就是每1分钟生成一个新文件。 -->
				<!-- 如果改成%d{yyyy-MM-dd HH}，最小粒度为小时，则每一个小时生成一个文件。 -->
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<!-- 指定当文件体积大于size指定的值时，触发Rolling -->
				<SizeBasedTriggeringPolicy size="${FILE_SIZE}" />
			</Policies>
			<!-- 指定最多保存的文件个数 -->
			<DefaultRolloverStrategy max="20">
				<!-- 对于指定的路径下的指定后缀的文件，只保留3天的日志文件，那么最多会有3天*24小时*20个日志文件 -->
				<!-- 注意应用需要根据业务需求和磁盘大小评估需要保留的日志个数，对于500M的日志文件来说，要根据应用日志的情况，观察单个日志压缩后文件大小，并计算总大小需要的空间 -->
				<Delete basePath="${LOG_HOME}" maxDepth="1">
					<IfFileName glob="*.gz" />
					<IfLastModified age="30d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>
		<!-- 这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
		<RollingRandomAccessFile name="error"
			fileName="${LOG_HOME}/error.log" filePattern="${LOG_HOME}/error-%d{yyyyMM}-%i.gz">
			<ThresholdFilter level="error" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="${PATTERN}" />
			<Policies>
				<!-- 这个配置需要和filePattern结合使用，注意filePattern中配置的文件重命名规则是 -->
				<!-- ${FILE_NAME}-%d{yyyy-MM-dd}-%i，最小的时间粒度是mm，即分钟， -->
				<!-- TimeBasedTriggeringPolicy指定的size是1，结合起来就是每1分钟生成一个新文件。 -->
				<!-- 如果改成%d{yyyy-MM-dd HH}，最小粒度为小时，则每一个小时生成一个文件。 -->
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<!-- 指定当文件体积大于size指定的值时，触发Rolling -->
				<SizeBasedTriggeringPolicy size="${FILE_SIZE}" />
			</Policies>
			<!-- 指定最多保存的文件个数 -->
			<DefaultRolloverStrategy max="20">
				<!-- 对于指定的路径下的指定后缀的文件，只保留3天的日志文件，那么最多会有3天*24小时*20个日志文件 -->
				<!-- 注意应用需要根据业务需求和磁盘大小评估需要保留的日志个数，对于500M的日志文件来说，要根据应用日志的情况，观察单个日志压缩后文件大小，并计算总大小需要的空间 -->
				<Delete basePath="${LOG_HOME}" maxDepth="1">
					<IfFileName glob="*.gz" />
					<IfLastModified age="30d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>
		<MYJDBC2 name="dbAppender" tableName="SYS_LOG_HTRZ">
			<ThresholdFilter level="error" onMatch="ACCEPT"
				onMismatch="DENY" />
			<ConnectionFactory class="cn.benma666.iframe.BasicObject" method="getDefaultDS" />
			<Column name="XC" pattern="%t" />
			<Column name="JB" pattern="%-5level" />
			<Column name="XX" pattern="%message" />
			<Column name="SCL" pattern="%class{32}" />
			<Column name="SCH" pattern="%L" />
			<Column name="SSXM" literal="'${projectCode}'" />
		</MYJDBC2>
	</appenders>

	<!-- 然后定义logger，只有定义了logger并引入的appender，appender才会生效 -->
	<loggers>
		<!-- 常打印的应用日志，建议独立配置，并采用异步模式。name根据实际的包名修改， 生产环境中additivity建议设置为false以避免在root 
			logger中重复打印 -->
		<Logger name="cn.benma666" level="debug" additivity="true">
		</Logger>
		<Logger name="druid.sql.Statement" level="debug" additivity="false">
			<appender-ref ref="debug" />
			<appender-ref ref="info" />
			<appender-ref ref="error" />
			<appender-ref ref="dbAppender" />
		</Logger>
		<!-- 建立一个默认的root的logger -->
		<root level="info" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="debug" />
			<appender-ref ref="info" />
			<appender-ref ref="error" />
			<appender-ref ref="dbAppender" />
		</root>
	</loggers>
</configuration>  