<script type="text/x-tp" id="my-label-tp">
<span>
    <span class="required" v-if="field.bjbt=='1'">*</span>
    {{(data.index?(index+1)+"-":"")+field.zdmc}}：
</span>
</script>
<script type="text/javascript">
Vue.component('my-label', {
    props: ['field','index','data'],
    data: function () {
      return {
      }
    },
    template:"#my-label-tp",
    watch: {
//      "field.bjbt": function (required) {
//          }
        }
  });
</script>
<script type="text/x-tp" id="my-textaera-tp">
	<textarea v-if="edit" 
		:name="(owner||'')+field.zddm" 
		:id="(owner||'')+field.zddm" 
		:value="nval" 
		@blur="setval"
		:index="index"
		:data-rule="(field.bjbt=='1'?'required;':'')+(field.qdyzgz||'')"
		:placeholder="field.zdts"
		:disabled="field.disabled"
		:class="field.classStr" 
		:onfocus="field.onfocus"
		:style="(field.style||'')"
		></textarea>
	<pre v-else class="form-control" :style="(field.style||'')" :title="value" v-html="nval"></pre>
</script>
<script type="text/javascript">
Vue.component('my-textaera', {
    props: ['field','index','value','owner','pagemodel','edit'],
    data: function () {
      return {
      }
    },
    template: '#my-textaera-tp',
    computed : {
        nval:function (){
            var val=this.value;
            var sf = strFunToFun(this.field.gshff);
            if(sf){
                val=sf(val,this);
            }
           return val;
        }
    },
    methods : {
        setval : function($event) {
            var sf = strFunToFun(this.field.fgshff);
            if(sf){
                $event.val=sf($event.target.value);
            }else{
                $event.val = $event.target.value;
            }
            this.$emit('setval', this.field, $event);
        }
 	}
  });
</script>
<script type="text/x-tp" id="my-inputn-tp">
	<input v-if="edit" 
		:name="(owner||'')+field.zddm"
		:value="nval"
  		@blur="setval"
		:index="index"
		:type="field.type||'text'"
		:data-rule="(field.bjbt=='1'?'required;':'')+(field.qdyzgz||'')"
		:placeholder="field.zdts" 
		:disabled="field.disabled"
		:class="field.classStr"
		:onfocus="field.onfocus"
		 />
	<span v-else :class="field.classStr" :title="nvalTitle" v-html="nval"></span>
</script>
<script type="text/javascript">
Vue.component('my-inputn', {
    props: ['field','index','value','owner','pagemodel','edit'],
    data: function () {
      return {
      }
    },
    template: '#my-inputn-tp',
    methods : {
        setval : function($event) {
            if(!this.field.kjlx=='dict'){
                var sf = strFunToFun(this.field.fgshff);
                if(sf){
                    $event.val=sf($event.target.value);
                }else{
                    $event.val = $event.target.value;
                }
                this.$emit('setval', this.field, $event);
            }
        }
	},
    computed : {
        nval:function (){
            var val=this.value;
            if(!this.edit&&this.field.kjlx=='dict'){
                val = zdMcByDm(this.field.zdzdlb,this.value);
            }
            var sf = strFunToFun(this.field.gshff);
            if(sf){
                val=sf(val,this);
            }
           return val;
        },
        nvalTitle:function (){
            var val=this.value;
            if(!this.edit&&this.field.kjlx=='dict'){
                val = zdMcByDm(this.field.zdzdlb,this.value)+"["+this.value+"]";
            }
           return val;
        }
    },
    mounted: function () {
        var _this =  this;
        _this.target = this.$el;
        var field = this.field;
        if(this.field.kjlx=='dict'&&this.edit){
            var zdObj = $(this.$el);
            var zdlb = field.zdzdlb;
            var otherParam = field.otherParam||'';
            var data = serviceAddr+"common/dict/zdSearch.do?autoCount=true&map['zdlb']="
                    +zdlb+"&map['otherParam']="+otherParam;
            if(!field.ajax&&zdlb!="SYS_COMMON_ORG"){
            	data = zdList(zdlb);
            }
            zdObj.selectPage({
            	data:data,
                showField: 'mc',
                keyField: 'dm',
                searchField: "map['searchKey']",
                orderBy : ['px asc','dm asc','mc'],
                eAjaxSuccess: function(d){
                    return d;
                },
                //选中项目后的回调处理
                //入参：data：选中行的原始数据对象
                eSelect : function(data){
                    _this.val=data.dm;
                    _this.mc=data.mc;
                    _this.$emit('setval', field,_this);
                    field.value="";
                    if(field.eSelect){
                    	field.eSelect(data,_this,field);
                    }
                },
				// 点击select的那个叉的事件回调
                eClear : function(){
                    _this.val="";
                    _this.mc="";
                    _this.$emit('setval', field,_this);
                    field.value="";
                    if(field.eClear){
                    	field.eClear(_this,field);
                    }
                },
                //仅选择模式，不允许输入查询关键字
                selectOnly : !(this.field.zdfy=='1'),
                //关闭分页栏，数据将会一次性在列表中展示，上限200个项目
                pagination : (this.field.zdfy=='1'),
                //关闭分页的状态下，列表显示的项目个数，其它的项目以滚动条滚动方式展现（默认10个）
                listSize : this.field.listSize|10,
                multiple : this.field.zddx=='1'
            });
            if(this.value){
                var data = {dm:this.value,mc:zdMcByDm(zdlb,this.value)};
                _this.val=data.dm;
                _this.mc=data.mc;
                field.value="";
                if(field.eSelect){
                	field.eSelect(data,_this,field);
                }
            }
        }
        //默认值不为空且非详情页面
        if(_this.value&&this.pagemodel!='details'&&this.pagemodel!='cklist'){
            _this.val=_this.value;
            _this.$emit('setval', field,_this);
        }
      },
    updated: function () {
        if(this.field.kjlx=='dict'){
            $(this.$el).selectPageRefresh();
        }
      }
  });
</script>
<script type="text/x-tp" id="my-time-tp">
	<input v-if="edit" 
		:name="(owner||'')+field.zddm"
		:value="nval"
  		@blur="setval"
		:index="index"
		:type="field.type||'text'"
		:data-rule="(field.bjbt=='1'?'required;':'')+(field.qdyzgz||'')"
		:placeholder="field.zdts" 
		:disabled="field.disabled"
		:class="'Wdate '+(field.classStr||'')" 
		:onfocus="onfocus"
		 />
	<span v-else :class="field.classStr" :title="nvalTitle" v-html="nval"></span>
</script>
<script type="text/javascript">
Vue.component('my-time', {
    props: ['field','index','value','owner','pagemodel','edit'],
    data: function () {
      return {
      }
    },
    template: '#my-time-tp',
    methods : {
        setval : function($event) {
            var sf = strFunToFun(this.field.fgshff);
            if(sf){
                $event.val=sf($event.target.value,this);
            }else{
                $event.val = $event.target.value;
            }
            this.$emit('setval', this.field, $event);
        }
	},
    computed : {
        nval:function (){
            var val=this.value;
            var sf = strFunToFun(this.field.gshff);
            if(sf){
                val=sf(val,this);
            }
            return val;
        },
        nvalTitle:function (){
            var val=this.value;
            return val;
        },
        onfocus:function (){
            return "WdatePicker("+JSON.stringify(this.dateFmt)+")";
        },
        dateFmt:function (){
            var hdgs = "yyyyMMddHHmmss";
            var hdyzgz = this.field.hdyzgz;
            if(hdyzgz){
                var gzstrs = hdyzgz.replace("；",';').split(";");
                for(idx in gzstrs){
                    var gzs = gzstrs[idx].split(":");
                    if(gzs[0]=='date'){
                        if(gzs[1]){
                            hdgs = gzs[1];
                        }
                        break;
                    }
                }
            }
            var dateFmt = 'yyyy-MM-dd';
            var maxDate = '%y-%M-%d';
            if(this.pagemodel!='search'){
                dateFmt = "yyyy-MM-dd HH:mm:ss";
                maxDate = "%y-%M-%d %H:%m:%s";
            }
            return {dateFmt:dateFmt,readOnly:true,maxDate:maxDate,hdgs:hdgs};
        }
    },
    mounted: function () {
        var _this =  this;
        _this.target = this.$el;
        var field = this.field;
        //默认值不为空且非详情页面
        if(_this.value&&this.pagemodel!='details'&&this.pagemodel!='cklist'){
            _this.val=_this.value;
            _this.$emit('setval', field,_this);
        }
      },
    updated: function () {
      }
  });
</script>
<!-- 时间范围 -->
<script type="text/x-tp" id="my-timeaera-tp">
<div v-if="pagemodel=='search'">
	<input :name="'map[\''+(owner||'')+field.zddm+'_start\']'" :id="(owner||'')+field.zddm+'Start'" 
		:value="nvalStart"
		@blur="setvalStart"
		:index="index"
		:type="field.type||'text'"
		:data-rule="(field.bjbt=='1'?'required;':'')+(field.qdyzgz||'')"
		:placeholder="field.zdts"
		:disabled="field.disabled"
		:class="'Wdate time_scope '+(field.classStr||'')" 
		@focus="wpStart"
		></input>
		<span class="timelate">~</span>
		<input :name="'map[\''+(owner||'')+field.zddm+'_end\']'" :id="(owner||'')+field.zddm+'End'" 
		:value="nvalEnd"
		@blur="setvalEnd"
		:index="index"
		:type="field.type||'text'"
		:data-rule="(field.bjbt=='1'?'required;':'')+(field.qdyzgz||'')"
		:placeholder="field.zdts"
		:disabled="field.disabled"
		:class="'Wdate time_scope '+(field.classStr||'')" 
		@focus="wpEnd"
		></input>
</div>
<span class="form-control" v-html="nvalStart+'~'+nvalEnd" v-else></span>
</script>
<script type="text/javascript">
Vue.component('my-timeaera', {
    props: ['field','index','value','owner','pagemodel','edit'],
    data: function () {
      return {
          startData:{dateFmt:'yyyy-MM-dd',readOnly:true,maxDate:'%y-%M-%d'},
          endData:{dateFmt:'yyyy-MM-dd',readOnly:true,maxDate:'%y-%M-%d'},
          times:this.value||[]
      }
    },
    template: '#my-timeaera-tp',
    computed : {
        nvalStart:function (){
            var times = this.times.split(";");
            if(!times[0]){
                return "";
            }
            var val=times[0];
            if(val.indexOf('goDay:')==0){
                val = new Date().addDays(val.substring(6)).format('yyyyMMddmmhhss');
            }
            var sf = strFunToFun(this.field.gshff);
            if(sf){
                val=sf(val,this);
            }
           return val;
        },
        nvalEnd:function (){
            var times = this.times.split(";");
            if(!times[1]){
                return "";
            }
            var val=times[1];
            if(val.indexOf('goDay:')==0){
                val = new Date().addDays(val.substring(6)).format('yyyyMMddmmhhss');
            }
            var sf = strFunToFun(this.field.gshff);
            if(sf){
                val=sf(val,this);
            }
           return val;
        }
    },
    methods : {
        setvalStart : function($event) {
            var times = this.times.split(";");
            var sf = strFunToFun(this.field.fgshff);
            if(sf){
                times[0]=sf($event.target.value,this,$event);
            }else{
                times[0] = $event.target.value;
            }
            $event.val=times;
            this.$emit('setval', this.field, $event);
        },
	    setvalEnd : function($event) {
            var times = this.times.split(";");
            var sf = strFunToFun(this.field.fgshff);
            if(sf){
                times[1]=sf($event.target.value,this,$event);
            }else{
                times[1] = $event.target.value;
            }
            $event.val=times;
	        this.$emit('setval', this.field, $event);
	    },
	    wpStart:function(){
	        WdatePicker(this.startData);
	    },
	    wpEnd:function(){
	        WdatePicker(this.endData);
	    }
 	}
  });
</script>
<script type="text/x-tp" id="my-srkj-tp">
	<div>
	    <my-inputn v-if="(field.kjlx||'input')=='input'||field.kjlx=='dict'" 
			:field="field" :index="index" :value="value" :pagemodel="pagemodel"
  			:edit="isEdit" @setval="setval" :class="srkjClass"></my-inputn>
	    <my-time v-else-if="field.kjlx=='time'&&pagemodel!='search'" 
			:field="field" :index="index" :value="value" :pagemodel="pagemodel"
  			:edit="isEdit" @setval="setval" :class="srkjClass"></my-time>
	    <my-timeaera v-else-if="field.kjlx=='timearea'||(field.kjlx=='time'&&pagemodel=='search')" 
			:field="field" :index="index" :value="value" :pagemodel="pagemodel"
			:edit="isEdit" @setval="setval"></my-timeaera>
	    <my-textaera v-else-if="field.kjlx=='textarea'" 
			:field="field" :index="index" :value="value" :pagemodel="pagemodel"
			:edit="isEdit" @setval="setval" :class="srkjClass"></my-textaera>
		<div v-else>
	    	没有控件[{{field.kjlx}}]
		</div>
	</div>
</script>
<script type="text/javascript">
Vue.component('my-srkj', {
    props : [ 'field', 'index', 'value', 'data','pagemodel','fieldshow' ],
    data : function() {
        return {}
    },
    computed : {
        isEdit:function(){
            var pagemodel = this.pagemodel;
            return ((pagemodel=='bjlist'||pagemodel=='edit')&&!(this.field.yxbj=='0'))
            	||pagemodel=='add'||pagemodel=='search';
        },
        srkjClass:function(){
            //返回输入控件的class
            //如果是查询列表或（编辑列表且该字段不允许编辑）
            if(this.pagemodel=='cklist'||(this.pagemodel=='bjlist'&&(this.field.yxbj=='0'))){
                return "";
            }else{
                return "form-control";
            }
        }
    },
    template : '#my-srkj-tp',
    methods : {
        setval : function(field,event) {
            this.$emit('setval', field, event);
        },
        isCzd:function(field){
            //判断长字段
            if(field.zdkd=="auto"){
                return true;
            }
            return ((field.zdkd||'200')>200);
        }
    },
    created : function() {
//         console.log('初始化字段: ' + this.index + ":" 
//                 + this.field.zddm + "=" + this.value);
    }
});
</script>
<script type="text/x-tp" id="my-input-tp">
<div class="row form-group" :class="'col-xs-'+(isCzd(field)?12:4)" 
		:index="index" :value="value" :style="(fieldshow)?'':'display: none;'">
	<label class="control-label" :class="'col-xs-'+(isCzd(field)?'2':'6')">
	    <my-label :field="field" :index="index" :data="data"></my-label>
	</label>
	<my-srkj :class="'col-xs-'+(isCzd(field)?'10':'6')"
		:field="field" :index="index" :value="value"
		:data="data" :pagemodel="pagemodel">
	</my-srkj>
</div>
</script>
<script type="text/javascript">
Vue.component('my-input', {
    props : [ 'field', 'index', 'value', 'data','pagemodel','fieldshow' ],
    data : function() {
        return {}
    },
    template : '#my-input-tp',
    methods : {
        setval : function(field,event) {
            this.$emit('setval', field, event);
        },
        isCzd:function(field){
            //判断长字段
            if(field.zdkd=="auto"){
                return true;
            }
            return ((field.zdkd||'200')>200);
        }
    },
    created : function() {
        console.log('初始化字段: ' + this.index + ":" 
                + this.field.zddm + "=" + this.value);
    }
});
</script>
<script type="text/x-tp" id="my-from-tp">
<form :action="data.action" :method="data.method" onsubmit="return false;">
	<div class="panel panel-info form-horizontal" role="form">
		<div class="panel-body">
			<div class="row gutter-1">
				<my-input v-for=" (field,key,index) in data.fields" :key="field.zddm"
					:field="field" :index="index" :data="data"
					:pagemodel="pagemodel"
					:fieldshow="fieldshow(field)"
					:value="fval(field)"
					@setval="setval"></my-input>
			</div>
			<slot></slot>
		</div>
	</div>
</form>
</script>
<script type="text/javascript">
Vue.component('my-from', {
    props : [ 'data', 'fromdata','pagemodel' ],
    data : function() {
        return {}
    },
    template : '#my-from-tp',
    created : function() {
        console.log('字段数量: ' + Object.keys(this.data.fields).length);
    },
    computed : {
        
    },
    methods : {
        setval : function(field,event) {
            this.$emit('setval', field, event);
        },
	    fieldshow:function (field){
	        var pagemodel = this.pagemodel;
	        return ((pagemodel=='add'&&!(field.xzzs=='0'))
	                ||(pagemodel=='edit'&&!(field.bjzs=='0'))
	                ||(pagemodel=='search'&&!(field.cxzs=='0'))
	                ||(pagemodel=='details'&&!(field.xqzs=='0')));
	    },
	    fval:function(field){
	        //获取字段值
	        var pagemodel = this.pagemodel;
	        var fromdata = this.fromdata;
	        if(fromdata[field.zddm]){
	            //存在传入的值
	            return fromdata[field.zddm];
	        }else if(pagemodel=='search'){
	            //查询模式，显示查询默认值
	            return field.cxmrz;
	        }else{
	            //其他模式，显示新增默认值
	            return field.xzmrz;
	        }
	    }
    }
});
</script>

<script type="text/x-tp" id="my-th-tp"> 
<th :style="(field.zdkd?'width: '+field.zdkd+'px;':'')+(field.lbzs=='0'?'display: none;':'')" 
	:class="(field.yxpx=='1')?'filed-order':''" 
	class="ellipsis"
	:data-filed="field.zddm" 
	:title="field.zdmc"
	data-order=""
	:onclick="field.order?'listFrom.listPage.fieldOrder(this)':'return false;'"
	><span class="required" v-if="field.bjbt=='1'"
	>*</span>{{field.zdmc}}<i v-if="(field.yxpx=='1')" class="" title="点击可以设置排序方式"></i></th> 
</script>
<script type="text/javascript">
Vue.component('my-th', {
    props: ['field'],
    data: function () {
      return {
      }
    },
    template:"#my-th-tp",
    watch: {
        }
  });
</script>
<script type="text/x-tp" id="my-td-tp"> 
<td :style="(field.lbzs=='0')?'display: none;':''" :class="pagemodel=='bjlist'?'':'ellipsis'">
	<my-srkj :field="field" :index="index" :ri="ri" :owner="owner" :pagemodel="pagemodel"
		:value="row[field.zddm]||field.value" @setval="setval"></my-srkj>
</td>
</script>
<script type="text/javascript">
Vue.component('my-td', {
    props: ['field','ri','index','owner','row','pagemodel'],
    data: function () {
      return {
      }
    },
    template:"#my-td-tp",
    watch: {
        },
    methods : {
        setval : function(field,event) {
            this.$emit('setval', field, event);
        },
	    fval:function(field){
	        if(row[field.zddm]){
	            return row[field.zddm];
	        }else{
	            return field.xzmrz;
	        }
	    }
	}
  });
</script>
<script type="text/x-tp" id="my-list-tp"> 
<th :style="field.zdkd?'width: '+field.zdkd+'px;':''" 
	:class="(field.yxpx=='1')?'filed-order':''" 
	class="ellipsis"
	:data-filed="field.zddm" 
	:title="field.zdmc"
	data-order=""
	:onclick="field.order?'listFrom.listPage.fieldOrder(this)':'return false;'"
	>{{field.zdmc}}<i v-if="(field.yxpx=='1')" class="" title="点击可以设置排序方式"></i></th> 
</script>
<script type="text/javascript">
Vue.component('my-list', {
    props: ['field'],
    data: function () {
      return {
      }
    },
    template:"#my-list-tp",
    watch: {
        }
  });
</script>
<script type="text/javascript">
//vue常用方法
/**
 * 时间格式化
 */
function vueTimeGsh(value,_this){
    if(_this.pagemodel=='search'){
        //查询模式，将时间转为精确到天，一般查询不用精确到时分秒，需要的特殊情况请自定义方法。
        return time14Totime10(value);
    }
    var val = time14Totime19(value);
    if(_this.pagemodel=='details'||_this.pagemodel=='cklist'){
        return "<span style='color:red;'>"+val+"<span>";
    }else{
        return val;
    }
}
/**
 * 时间反格式化：默认处理所有时间在数据库中存储的都是14位字符串
 */
function vueTimeFgsh(value,_this,event){
    if(_this.pagemodel=='search'){
        //查询模式，将时间转为精确到天，一般查询不用精确到时分秒，需要的特殊情况请自定义方法。
        return time10Totime8(value);
    }
    return time19Totime14(value);
}
</script>
<!-- 分页 -->
<script type="text/x-tp" id="page-tp">
<div class="col-xs-12">
<div class="col-xs-12">
       <div class="pagination-group">
       			{{if showPageSize}}
                 <div class="pagination-text">
                                                                              每页
                 </div>
                 <div class="btn-group">
                     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <i class="pageSize">{{= pageSize}}</i>
                         <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu">
                         {{each(i,size) pageSizeList}}
                         <li>
                             <a class="pageSizeLi" data-size="{{= size}}">{{= size}}</a>
                         </li>
						 {{/each}}
                     </ul>
                 </div>
                 <div class="pagination-text">
                                                                               条，共 {{= pageCount}} 页，共 {{= total}} 条记录
                 </div>
                 {{/if}}
       			 {{if !showPageSize}}
                 	<i class="pageSize" style="display: none;">{{= pageSize}}</i>
                 	<div class="pagination-text">
                                                                               共 {{= pageCount}} 页，共 {{= total}} 条记录
                 	</div>
                 {{/if}}
                 <ul class="pagination">
                     <li>
                         <a class="paging-prev">&laquo;</a>
                     </li>
                     <li>
                         <a class="paging-before"><</a>
                     </li>
                     <li>
                         <a class="paging-after">></a>
                     </li>
                     <li>
                         <a class="paging-next">&raquo;</a>
                     </li>
                 </ul>
                 <div class="pagination-text">
                                                                                  跳至
                 </div>
                 <div class="pagination-text">
                     <input type="text" class="form-control zhuanPage" value="{{= pageIndex}}">
                 </div>
                 <div class="pagination-text">
                                                                                 页
        </div>
        <button class="btn btn-default btn-sm paging-sure">确定</button>
   </div>
</div>
</script>
<!-- 导出excel -->
<form id='form1_1' name="form1_1" action="common/file/saveToExecl.do" method='post' style="display: hidden">
	<input type='hidden' name='content' id='content_1' />
	<input type='hidden' name='filename' value="" id='filename_1' />
	<input type='hidden' name='hiddenCol' value="" id='hiddenCol_1' />
</form>