<div class="col-xs-12">
       <div class="pagination-group">
       			{{if showPageSize}}
                 <div class="pagination-text">
                                                                              每页
                 </div>
                 <div class="btn-group">
                     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <i class="pageSize">{{= pageSize}}</i>
                         <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu">
                         {{each(i,size) pageSizeList}}
                         <li>
                             <a class="pageSizeLi" data-size="{{= size}}">{{= size}}</a>
                         </li>
						 {{/each}}
                     </ul>
                 </div>
                 <div class="pagination-text">
                                                                               条，共 {{= pageCount}} 页，共 {{= total}} 条记录
                 </div>
                 {{/if}}
       			 {{if !showPageSize}}
                 	<i class="pageSize" style="display: none;">{{= pageSize}}</i>
                 	<div class="pagination-text">
                                                                               共 {{= pageCount}} 页，共 {{= total}} 条记录
                 	</div>
                 {{/if}}
                 <ul class="pagination">
                     <li>
                         <a class="paging-prev">&laquo;</a>
                     </li>
                     <li>
                         <a class="paging-before"><</a>
                     </li>
                     <li>
                         <a class="paging-after">></a>
                     </li>
                     <li>
                         <a class="paging-next">&raquo;</a>
                     </li>
                 </ul>
                 <div class="pagination-text">
                                                                                  跳至
                 </div>
                 <div class="pagination-text">
                     <input type="text" class="form-control zhuanPage" value="{{= pageIndex}}">
                 </div>
                 <div class="pagination-text">
                                                                                 页
        </div>
        <button class="btn btn-default btn-sm paging-sure">确定</button>
   </div>
</div>