
#CDN服务域名(ICON小图标不在本地，需要手工下载)
#domain_cdn = http://7xign9.com1.z0.glb.clouddn.com

#静态资源服务域名
domain_static = http://127.0.0.1:85

#上传图片服务域名(端口自己修改哦)
domain_img = http://127.0.0.1:85/common/download?fileDir=

#上传文件服务域名
#domain_file = 

#######################目录配置
#上传临时目录
eova_upload_temp = E:/temp/kettlemanager/temp/upload

#静态根目录
static_root = E:/temp/kettlemanager/static