#环境标识：开发环境=DEV,测试环境=TEST,预发布环境=PRE,正式环境=PRD
env = PRD

#开发模式：输出JFinal日志
devMode = true
#显示SQL输出
showSql = true

#系统启动时根据当前Eova数据源生成Oracle SQL
initSql = false
#系统启动时自动下载js插件包
initPlugins = false

#是否开启升级控制台
isUpgrade = false

#默认数据源字典表名
main_dict_table = dicts

#自动登录模式:
#date_user:带加密的时间和用户id。
#pwd_user:带设定的密码和用户id，方便但不安全。
auto_login_model = date_user