#环境标识：开发环境=DEV,测试环境=TEST,预发布环境=PRE,正式环境=PRD
env = PRD

#开发模式：输出JFinal日志
devMode = true
#显示SQL输出
showSql = true
#默认事务级别配置(MYSQL=4,Oralce=2)
transaction_level = 2

#系统启动时根据当前Eova数据源生成Oracle SQL
initSql = false
#系统启动时自动下载js插件包
initPlugins = false

#是否开启升级控制台
isUpgrade = false

#默认数据源字典表名
main_dict_table = dicts