.my-dropdown {
    position: absolute;
    width: 600px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
  }
  .popper-select{
    position: absolute;
    width: 0;
    height: 0;
  }