::v-deep(.avatar-uploader .el-upload) {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 15px;
    color: #8c939d;
    width: 20px;
    height: 20px;
    line-height: 100px;
    text-align: center;
  }
  ::v-deep(.avatar)  {
    width: 100px;
    height: 100px;
    display: block;
  }