.login {
    height: 100%;
    width: 100%;
    background-image: url("../assets/img/bg1.jpg");
    background-size: 100%;
    .el-main {
      margin-top: 130px;
      .content1 {
        width: 400px;
        margin: auto;
        .xtbt {
          font-size: xx-large;
          text-align: center;
          background: #f6f6f69e;
        }
      }
    }
  }