
body {padding: 40px;}

#layout > header, .btns {
    width: auto;
}

#sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    background: #fff;
    z-index: 100;
    padding: 18px; 
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
}

#sidebar:hover {
    overflow: auto;
}

#sidebar h1 {
    font-size: 16px;
}

#custom-toc-container {
    padding-left: 0;
}

#test-editormd-view, #test-editormd-view2 {
    padding-left: 0;
    padding-right: 260px;
    margin: 0;
}