<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>project</display-name>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:applicationContext.xml
		</param-value>
	</context-param>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>post-data-dumper-filter</filter-name>
        <filter-class>cn.benma666.web.PostDataDumperFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>post-data-dumper-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	<!-- 解决跨域问题 -->
	<filter>
	    <filter-name>CorsFilter</filter-name>
	    <filter-class>cn.benma666.web.CORSFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>CorsFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
<!-- 	<listener> -->
<!-- 		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class> -->
<!-- 	</listener> -->
	
	<!-- spring-mvc -->
	<servlet>
		<servlet-name>springServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:/spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>springServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>druidWebStatFilter</filter-name>
		<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
		<init-param>
			<param-name>exclusions</param-name>
			<param-value>/css/*,/static/*,/jslib/*,*.js,*.css,/druid*,*.jsp</param-value>
		</init-param>
        <init-param>
            <param-name>sessionStatEnable</param-name>
            <param-value>false</param-value>
        </init-param>
	</filter>
	<filter-mapping>
		<filter-name>druidWebStatFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>     
      <servlet-name>DruidStatView</servlet-name>   
      <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
    </servlet> 
    <servlet-mapping>   
       <servlet-name>DruidStatView</servlet-name>
       <url-pattern>/druid/*</url-pattern>
     </servlet-mapping>
     
	 <servlet>
      	<servlet-name>axis</servlet-name>
      	<servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
      	<load-on-startup>2</load-on-startup>
    </servlet>
   	<servlet-mapping>
    	<servlet-name>axis</servlet-name>
    	<url-pattern>/services/*</url-pattern>
  	</servlet-mapping>
  	
	<session-config>
		<session-timeout>600</session-timeout>
	</session-config>
	
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
	
	 <error-page>
	    <error-code>500</error-code>
	    <location>/myui/common/500.jsp</location>
	 </error-page>
	 <error-page>
	    <error-code>404</error-code>
	    <location>/myui/common/404.jsp</location>
	 </error-page>
	 <error-page>
	    <error-code>403</error-code>
	    <location>/myui/common/403.jsp</location>
	 </error-page>
	
</web-app>
