
body {
  margin: 0px;
}

//图标font-awesome start
[class^="el-icon-fa"], [class*=" el-icon-fa"] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome!important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import '../../node_modules/font-awesome/css/font-awesome.css';
$fa-css-prefix: el-icon-fa;
//图标font-awesome end

.el-container{
  .el-footer{
    text-align: center;
    background-color: lavender;
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
    height: 40px;
  }
}
